name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          # Token de despliegue de Azure - debe coincidir con el Secret actualizado en GitHub
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_SKY_0E16F9010 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Usado para integraciones (ej. comentarios de PR)
          action: "upload"
          ###### Configuraciones de Repositorio/Build ######
          app_location: "/" # Raíz de tu código Next.js
          api_location: "api" # Vacío si no usas Azure Functions
          output_location: ".next" # Directorio de salida corregido para Next.js
          ###### Fin de Configuraciones de Repositorio/Build ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_SKY_0E16F9010 }}
          action: "close"
